<!-- <div class="tab">
  <button type="button" class="tablinks" onclick="openCity(event, 'Basic')">Basic</button>
  <button type="button" class="tablinks" onclick="openCity(event, 'Advanced')">Advanced</button>
</div>
<div id="Basic" class="tabcontent"> -->



  <div id="auth">
    <div class="row">

      <div class= "col-md-6">
        <label  for="username">username:</label  >
        <input   type="text" id="username" name="username" >
        </div>

        <div class= "col-md-6">
          <label  for="password">password:</label  >
          <input   type="text" id="password" name="password" >
          </div>

    </div>
  </div>
  
  <div action="" id="endpoint">

    <div class="row">

      <div class= "col-md-6">
        <label   for="id">id:</label>
        <input  type="text" id="id" name="id" required>
      </div> 
      <div class= "col-md-6">
        <label  for="transport">transport:</label  >
        <input   type="text" id="transport" name="transport" >
      </div> 

    <div class= "col-md-6">
      <label  for="context">context:</label  >
      <input   type="text" id="context" name="context" >
      </div>
    </div>
    <div class="row">      
      <div class= "col-md-6">
      <label  for="disallow">disallow:</label  >
      <input   type="text" id="disallow" name="disallow" >
      </div>
      
      <div class= "col-md-6">
      <label  for="allow">allow:</label  >
      <input   type="text" id="allow" name="allow" >
      </div>
       
      <div class="col-md-6">
        <label for="dtmf_mode">dtmf_mode:</label>
          <select d="dtmf_mode" name="dtmf_mode" >
            <option value="rfc4733">rfc4733</option>
        <option value="inband">inband</option>
        <option value="info">info</option>
        <option value="auto">auto</option>
        <option value="auto_info">auto_info</option>
          </select>
        </div>
  </div>

  <div class="row">      
    <div class= "col-md-6">
      <label  for="rewrite_contact">rewrite_contact:</label  >
        <select d="rewrite_contact" name="rewrite_contact" >
          <option value="yes">yes</option>
      <option value="no">no</option>
       
        </select>
      </div>
      
      <div class= "col-md-6">
        <label  for="rtp_symmetric">rtp_symmetric:</label  >
          <select d="rtp_symmetric" name="rtp_symmetric" >
            <option value="yes">yes</option>
        <option value="no">no</option>
         
          </select>
        </div>


        <div class= "col-md-6">
          <label  for="direct_media">direct_media:</label  >
            <select d="direct_media" name="direct_media" >
              <option value="yes">yes</option>
          <option value="no">no</option>
           
            </select>
          </div>    
  </div>    
  
  <div class="row">          
          <div class= "col-md-6">
              <label  for="force_rport">force_rport:</label  >
                <select d="force_rport" name="force_rport" >
                  <option value="yes">yes</option>
              <option value="no">no</option>
               
                </select>
              </div>
  </div>  

</div>

  <div action="" id="aor">
    <div class="row">

      <div class= "col-md-6">
        <label  for="remove_existing">remove_existing:</label  >
          <select d="remove_existing" name="remove_existing" >
            <option value="yes">yes</option>
        <option value="no">no</option>
         
          </select>
        </div>

        <div class= "col-md-6">
          <label  for="contact">contact:</label  >
          <input   type="text" id="contact" name="contact" >
        </div> 
   

    </div>
  </div>





  
