
<div>
  <label for="id">id:</label>
  <input type="text" id="id" name="id" required>
  </div>
  
  <div>
  <label for="use_avpf">use_avpf:</label>
    <select d="use_avpf" name="use_avpf" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="redirect_method">redirect_method:</label>
    <select d="redirect_method" name="redirect_method" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="media_encryption">media_encryption:</label>
    <select d="media_encryption" name="media_encryption" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="cos_audio">cos_audio:</label>
  <input type="number" id="cos_audio" name="cos_audio" >
  </div>
  
  <div>
  <label for="cos_video">cos_video:</label>
  <input type="number" id="cos_video" name="cos_video" >
  </div>
  
  <div>
  <label for="inband_progress">inband_progress:</label>
    <select d="inband_progress" name="inband_progress" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="force_avp">force_avp:</label>
    <select d="force_avp" name="force_avp" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="media_use_received_transport">media_use_received_transport:</label>
    <select d="media_use_received_transport" name="media_use_received_transport" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="ice_support">ice_support:</label>
    <select d="ice_support" name="ice_support" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="user_eq_phone">user_eq_phone:</label>
    <select d="user_eq_phone" name="user_eq_phone" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="moh_passthrough">moh_passthrough:</label>
    <select d="moh_passthrough" name="moh_passthrough" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="media_encryption_optimistic">media_encryption_optimistic:</label>
    <select d="media_encryption_optimistic" name="media_encryption_optimistic" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="rpid_immediate">rpid_immediate:</label>
    <select d="rpid_immediate" name="rpid_immediate" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="g726_non_standard">g726_non_standard:</label>
    <select d="g726_non_standard" name="g726_non_standard" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="rtp_keepalive">rtp_keepalive:</label>
  <input type="number" id="rtp_keepalive" name="rtp_keepalive" >
  </div>
  
  <div>
  <label for="rtp_timeout">rtp_timeout:</label>
  <input type="number" id="rtp_timeout" name="rtp_timeout" >
  </div>
  
  <div>
  <label for="rtp_timeout_hold">rtp_timeout_hold:</label>
  <input type="number" id="rtp_timeout_hold" name="rtp_timeout_hold" >
  </div>
  
  <div>
  <label for="bind_rtp_to_media_address">bind_rtp_to_media_address:</label>
    <select d="bind_rtp_to_media_address" name="bind_rtp_to_media_address" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="connected_line_method">connected_line_method:</label>
    <select d="connected_line_method" name="connected_line_method" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="mwi_subscribe_replaces_unsolicited">mwi_subscribe_replaces_unsolicited:</label>
    <select d="mwi_subscribe_replaces_unsolicited" name="mwi_subscribe_replaces_unsolicited" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="direct_media_method">direct_media_method:</label>
    <select d="direct_media_method" name="direct_media_method" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="direct_media_glare_mitigation">direct_media_glare_mitigation:</label>
    <select d="direct_media_glare_mitigation" name="direct_media_glare_mitigation" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="device_state_busy_at">device_state_busy_at:</label>
  <input type="number" id="device_state_busy_at" name="device_state_busy_at" >
  </div>
  
  <div>
  <label for="fax_detect">fax_detect:</label>
    <select d="fax_detect" name="fax_detect" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="t38_udptl">t38_udptl:</label>
    <select d="t38_udptl" name="t38_udptl" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="t38_udptl_ec">t38_udptl_ec:</label>
    <select d="t38_udptl_ec" name="t38_udptl_ec" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="t38_udptl_maxdatagram">t38_udptl_maxdatagram:</label>
  <input type="number" id="t38_udptl_maxdatagram" name="t38_udptl_maxdatagram" >
  </div>
  
  <div>
  <label for="fax_detect_timeout">fax_detect_timeout:</label>
  <input type="number" id="fax_detect_timeout" name="fax_detect_timeout" >
  </div>
  
  <div>
  <label for="t38_udptl_nat">t38_udptl_nat:</label>
    <select d="t38_udptl_nat" name="t38_udptl_nat" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="preferred_codec_only">preferred_codec_only:</label>
    <select d="preferred_codec_only" name="preferred_codec_only" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="asymmetric_rtp_codec">asymmetric_rtp_codec:</label>
    <select d="asymmetric_rtp_codec" name="asymmetric_rtp_codec" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="rtcp_mux">rtcp_mux:</label>
    <select d="rtcp_mux" name="rtcp_mux" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="allow_overlap">allow_overlap:</label>
    <select d="allow_overlap" name="allow_overlap" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="refer_blind_progress">refer_blind_progress:</label>
    <select d="refer_blind_progress" name="refer_blind_progress" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="notify_early_inuse_ringing">notify_early_inuse_ringing:</label>
    <select d="notify_early_inuse_ringing" name="notify_early_inuse_ringing" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="max_audio_streams">max_audio_streams:</label>
  <input type="number" id="max_audio_streams" name="max_audio_streams" >
  </div>
  
  <div>
  <label for="max_video_streams">max_video_streams:</label>
  <input type="number" id="max_video_streams" name="max_video_streams" >
  </div>
  
  <div>
  <label for="webrtc">webrtc:</label>
    <select d="webrtc" name="webrtc" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="dtls_fingerprint">dtls_fingerprint:</label>
    <select d="dtls_fingerprint" name="dtls_fingerprint" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="t38_udptl_ipv6">t38_udptl_ipv6:</label>
    <select d="t38_udptl_ipv6" name="t38_udptl_ipv6" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="bundle">bundle:</label>
    <select d="bundle" name="bundle" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="dtls_auto_generate_cert">dtls_auto_generate_cert:</label>
    <select d="dtls_auto_generate_cert" name="dtls_auto_generate_cert" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="follow_early_media_fork">follow_early_media_fork:</label>
    <select d="follow_early_media_fork" name="follow_early_media_fork" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="accept_multiple_sdp_answers">accept_multiple_sdp_answers:</label>
    <select d="accept_multiple_sdp_answers" name="accept_multiple_sdp_answers" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="suppress_q850_reason_headers">suppress_q850_reason_headers:</label>
    <select d="suppress_q850_reason_headers" name="suppress_q850_reason_headers" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="trust_connected_line">trust_connected_line:</label>
    <select d="trust_connected_line" name="trust_connected_line" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="send_connected_line">send_connected_line:</label>
    <select d="send_connected_line" name="send_connected_line" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="ignore_183_without_sdp">ignore_183_without_sdp:</label>
    <select d="ignore_183_without_sdp" name="ignore_183_without_sdp" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="disable_direct_media_on_nat">disable_direct_media_on_nat:</label>
    <select d="disable_direct_media_on_nat" name="disable_direct_media_on_nat" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="dtmf_mode">dtmf_mode:</label>
    <select d="dtmf_mode" name="dtmf_mode" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="one_touch_recording">one_touch_recording:</label>
    <select d="one_touch_recording" name="one_touch_recording" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="rewrite_contact">rewrite_contact:</label>
    <select d="rewrite_contact" name="rewrite_contact" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="stir_shaken">stir_shaken:</label>
    <select d="stir_shaken" name="stir_shaken" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="send_history_info">send_history_info:</label>
    <select d="send_history_info" name="send_history_info" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="allow_unauthenticated_options">allow_unauthenticated_options:</label>
    <select d="allow_unauthenticated_options" name="allow_unauthenticated_options" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="t38_bind_udptl_to_media_address">t38_bind_udptl_to_media_address:</label>
    <select d="t38_bind_udptl_to_media_address" name="t38_bind_udptl_to_media_address" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="rtp_ipv6">rtp_ipv6:</label>
    <select d="rtp_ipv6" name="rtp_ipv6" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="rtp_symmetric">rtp_symmetric:</label>
    <select d="rtp_symmetric" name="rtp_symmetric" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="allow_transfer">allow_transfer:</label>
    <select d="allow_transfer" name="allow_transfer" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="allow_subscribe">allow_subscribe:</label>
    <select d="allow_subscribe" name="allow_subscribe" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="send_diversion">send_diversion:</label>
    <select d="send_diversion" name="send_diversion" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="send_pai">send_pai:</label>
    <select d="send_pai" name="send_pai" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="send_rpid">send_rpid:</label>
    <select d="send_rpid" name="send_rpid" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="timers_min_se">timers_min_se:</label>
  <input type="number" id="timers_min_se" name="timers_min_se" >
  </div>
  
  <div>
  <label for="sub_min_expiry">sub_min_expiry:</label>
  <input type="number" id="sub_min_expiry" name="sub_min_expiry" >
  </div>
  
  <div>
  <label for="timers">timers:</label>
    <select d="timers" name="timers" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="timers_sess_expires">timers_sess_expires:</label>
  <input type="number" id="timers_sess_expires" name="timers_sess_expires" >
  </div>
  
  <div>
  <label for="direct_media">direct_media:</label>
    <select d="direct_media" name="direct_media" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="callerid_privacy">callerid_privacy:</label>
    <select d="callerid_privacy" name="callerid_privacy" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="force_rport">force_rport:</label>
    <select d="force_rport" name="force_rport" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="100rel">100rel:</label>
    <select d="100rel" name="100rel" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="aggregate_mwi">aggregate_mwi:</label>
    <select d="aggregate_mwi" name="aggregate_mwi" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="trust_id_inbound">trust_id_inbound:</label>
    <select d="trust_id_inbound" name="trust_id_inbound" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="trust_id_outbound">trust_id_outbound:</label>
    <select d="trust_id_outbound" name="trust_id_outbound" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="use_ptime">use_ptime:</label>
    <select d="use_ptime" name="use_ptime" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="dtls_setup">dtls_setup:</label>
    <select d="dtls_setup" name="dtls_setup" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="srtp_tag_32">srtp_tag_32:</label>
    <select d="srtp_tag_32" name="srtp_tag_32" >
      <option value="yes">yes</option>
  <option value="no">no</option>
  <option value="aes128">aes128</option>
    </select>
  </div>
  
  <div>
  <label for="geoloc_outgoing_call_profile">geoloc_outgoing_call_profile:</label>
  <input type="text" id="geoloc_outgoing_call_profile" name="geoloc_outgoing_call_profile" >
  </div>
  
  <div>
  <label for="transport">transport:</label>
  <input type="text" id="transport" name="transport" >
  </div>
  
  <div>
  <label for="aors">aors:</label>
  <input type="text" id="aors" name="aors" >
  </div>
  
  <div>
  <label for="auth">auth:</label>
  <input type="text" id="auth" name="auth" >
  </div>
  
  <div>
  <label for="context">context:</label>
  <input type="text" id="context" name="context" >
  </div>
  
  <div>
  <label for="disallow">disallow:</label>
  <input type="text" id="disallow" name="disallow" >
  </div>
  
  <div>
  <label for="allow">allow:</label>
  <input type="text" id="allow" name="allow" >
  </div>
  
  <div>
  <label for="external_media_address">external_media_address:</label>
  <input type="text" id="external_media_address" name="external_media_address" >
  </div>
  
  <div>
  <label for="identify_by">identify_by:</label>
  <input type="text" id="identify_by" name="identify_by" >
  </div>
  
  <div>
  <label for="mailboxes">mailboxes:</label>
  <input type="text" id="mailboxes" name="mailboxes" >
  </div>
  
  <div>
  <label for="moh_suggest">moh_suggest:</label>
  <input type="text" id="moh_suggest" name="moh_suggest" >
  </div>
  
  <div>
  <label for="outbound_auth">outbound_auth:</label>
  <input type="text" id="outbound_auth" name="outbound_auth" >
  </div>
  
  <div>
  <label for="outbound_proxy">outbound_proxy:</label>
  <input type="text" id="outbound_proxy" name="outbound_proxy" >
  </div>
  
  <div>
  <label for="callerid">callerid:</label>
  <input type="text" id="callerid" name="callerid" >
  </div>
  
  <div>
  <label for="callerid_tag">callerid_tag:</label>
  <input type="text" id="callerid_tag" name="callerid_tag" >
  </div>
  
  <div>
  <label for="call_group">call_group:</label>
  <input type="text" id="call_group" name="call_group" >
  </div>
  
  <div>
  <label for="pickup_group">pickup_group:</label>
  <input type="text" id="pickup_group" name="pickup_group" >
  </div>
  
  <div>
  <label for="named_call_group">named_call_group:</label>
  <input type="text" id="named_call_group" name="named_call_group" >
  </div>
  
  <div>
  <label for="named_pickup_group">named_pickup_group:</label>
  <input type="text" id="named_pickup_group" name="named_pickup_group" >
  </div>
  
  <div>
  <label for="tone_zone">tone_zone:</label>
  <input type="text" id="tone_zone" name="tone_zone" >
  </div>
  
  <div>
  <label for="language">language:</label>
  <input type="text" id="language" name="language" >
  </div>
  
  <div>
  <label for="record_on_feature">record_on_feature:</label>
  <input type="text" id="record_on_feature" name="record_on_feature" >
  </div>
  
  <div>
  <label for="record_off_feature">record_off_feature:</label>
  <input type="text" id="record_off_feature" name="record_off_feature" >
  </div>
  
  <div>
  <label for="rtp_engine">rtp_engine:</label>
  <input type="text" id="rtp_engine" name="rtp_engine" >
  </div>
  
  <div>
  <label for="sdp_owner">sdp_owner:</label>
  <input type="text" id="sdp_owner" name="sdp_owner" >
  </div>
  
  <div>
  <label for="sdp_session">sdp_session:</label>
  <input type="text" id="sdp_session" name="sdp_session" >
  </div>
  
  <div>
  <label for="tos_audio">tos_audio:</label>
  <input type="text" id="tos_audio" name="tos_audio" >
  </div>
  
  <div>
  <label for="tos_video">tos_video:</label>
  <input type="text" id="tos_video" name="tos_video" >
  </div>
  
  <div>
  <label for="from_domain">from_domain:</label>
  <input type="text" id="from_domain" name="from_domain" >
  </div>
  
  <div>
  <label for="from_user">from_user:</label>
  <input type="text" id="from_user" name="from_user" >
  </div>
  
  <div>
  <label for="mwi_from_user">mwi_from_user:</label>
  <input type="text" id="mwi_from_user" name="mwi_from_user" >
  </div>
  
  <div>
  <label for="dtls_verify">dtls_verify:</label>
  <input type="text" id="dtls_verify" name="dtls_verify" >
  </div>
  
  <div>
  <label for="dtls_rekey">dtls_rekey:</label>
  <input type="text" id="dtls_rekey" name="dtls_rekey" >
  </div>
  
  <div>
  <label for="dtls_cert_file">dtls_cert_file:</label>
  <input type="text" id="dtls_cert_file" name="dtls_cert_file" >
  </div>
  
  <div>
  <label for="dtls_private_key">dtls_private_key:</label>
  <input type="text" id="dtls_private_key" name="dtls_private_key" >
  </div>
  
  <div>
  <label for="dtls_cipher">dtls_cipher:</label>
  <input type="text" id="dtls_cipher" name="dtls_cipher" >
  </div>
  
  <div>
  <label for="dtls_ca_file">dtls_ca_file:</label>
  <input type="text" id="dtls_ca_file" name="dtls_ca_file" >
  </div>
  
  <div>
  <label for="dtls_ca_path">dtls_ca_path:</label>
  <input type="text" id="dtls_ca_path" name="dtls_ca_path" >
  </div>
  
  <div>
  <label for="media_address">media_address:</label>
  <input type="text" id="media_address" name="media_address" >
  </div>
  
  <div>
  <label for="set_var">set_var:</label>
  <input type="text" id="set_var" name="set_var" >
  </div>
  
  <div>
  <label for="message_context">message_context:</label>
  <input type="text" id="message_context" name="message_context" >
  </div>
  
  <div>
  <label for="accountcode">accountcode:</label>
  <input type="text" id="accountcode" name="accountcode" >
  </div>
  
  <div>
  <label for="voicemail_extension">voicemail_extension:</label>
  <input type="text" id="voicemail_extension" name="voicemail_extension" >
  </div>
  
  <div>
  <label for="deny">deny:</label>
  <input type="text" id="deny" name="deny" >
  </div>
  
  <div>
  <label for="permit">permit:</label>
  <input type="text" id="permit" name="permit" >
  </div>
  
  <div>
  <label for="acl">acl:</label>
  <input type="text" id="acl" name="acl" >
  </div>
  
  <div>
  <label for="contact_deny">contact_deny:</label>
  <input type="text" id="contact_deny" name="contact_deny" >
  </div>
  
  <div>
  <label for="contact_permit">contact_permit:</label>
  <input type="text" id="contact_permit" name="contact_permit" >
  </div>
  
  <div>
  <label for="contact_acl">contact_acl:</label>
  <input type="text" id="contact_acl" name="contact_acl" >
  </div>
  
  <div>
  <label for="subscribe_context">subscribe_context:</label>
  <input type="text" id="subscribe_context" name="subscribe_context" >
  </div>
  
  <div>
  <label for="contact_user">contact_user:</label>
  <input type="text" id="contact_user" name="contact_user" >
  </div>
  
  <div>
  <label for="incoming_mwi_mailbox">incoming_mwi_mailbox:</label>
  <input type="text" id="incoming_mwi_mailbox" name="incoming_mwi_mailbox" >
  </div>
  
  <div>
  <label for="codec_prefs_incoming_offer">codec_prefs_incoming_offer:</label>
  <input type="text" id="codec_prefs_incoming_offer" name="codec_prefs_incoming_offer" >
  </div>
  
  <div>
  <label for="codec_prefs_outgoing_offer">codec_prefs_outgoing_offer:</label>
  <input type="text" id="codec_prefs_outgoing_offer" name="codec_prefs_outgoing_offer" >
  </div>
  
  <div>
  <label for="codec_prefs_incoming_answer">codec_prefs_incoming_answer:</label>
  <input type="text" id="codec_prefs_incoming_answer" name="codec_prefs_incoming_answer" >
  </div>
  
  <div>
  <label for="codec_prefs_outgoing_answer">codec_prefs_outgoing_answer:</label>
  <input type="text" id="codec_prefs_outgoing_answer" name="codec_prefs_outgoing_answer" >
  </div>
  
  <div>
  <label for="geoloc_incoming_call_profile">geoloc_incoming_call_profile:</label>
  <input type="text" id="geoloc_incoming_call_profile" name="geoloc_incoming_call_profile" >
  </div>
  