{% extends "template_base.html" %}

<!-- main catogary -->

{% block main_page_name %}
      admin
{% endblock %}

<!-- sub catogary -->
{% block sub_page_name %}
     Dashboard 
{% endblock %}

<!-- name come in big letter side of page -->
{% block page_content_name %}
      DASH
{% endblock %}

{% block user_name %}

 admin  

{% endblock %}


<!-- side navebar -->
{% block sidenav_list %}

{% include 'blocks/sidenav_list.html' %}
      
{% endblock %}


<!-- Main content -->

{% block main_content %}

{% include 'admin/tables/endpoint.html' %}

      {# {% include 'admin/forms/endpoint.html' %} #}

{% endblock %}